.mainn{
    height: 70vh;
    width: 100%;
border-radius: 30px;

display: flex;
align-items: center;

}
 .mainn img{
    width: 110%;
    border-radius: 30px;
    height: 100%;
}
.fa-solid{
    font-size: 40px;
    
    columns: rgb(5, 5, 95);
}
